<div class="container">
  <button nz-button nzType="primary" [routerLink]="['/new-user']">
    + Novo
  </button>

  <nz-table #tabelaUsuarios [nzData]="users">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of tabelaUsuarios.data">
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button nz-button nzType="default" [routerLink]="['/update-user', user.id]">
              Editar
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>
